@media (max-width: 480px) {
    ul {
        flex-direction: column;
    }
}

html {
    height: 100vh;
}

body, main {
    height: 100%;
}

h2, p {
font-family: 'Supreme', sans-serif;
}

main p {
    font-size: 18px;
}

nav {
    background-color: black;
    display: flex;
    width: 100%;
    text-align: center;
    font-family: 'Supreme', sans-serif;
}

nav li {
    margin: 15px 25px 15px 25px;
    padding: 0px;
    list-style-type: none;
    font-size: 25px;
    }

nav a {
    padding: 10px;
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
    margin: 0px;
}

body {
    margin: 0px;
}

header {
    background-color: wheat;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    font-family: 'Supreme', sans-serif;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0px 10px 0px;
    background-color: wheat;
    font-family: 'Supreme', sans-serif;
}

footer * {
    padding: 0px 50px 0px 0px;
    text-decoration: none;
    color: black;
    margin: 5px 25px 5px 25px;
}

footer a {
    border-right: solid 2px black;
}

main {
    font-size: 18px;
    text-align: center;
    margin: 25px 25px 75px 25px;
}