@media (max-width: 480px) {
    ul {
        flex-direction: column;
    }
}

html {
    height: 100vh;
}

body, main {
    height: 100%;
}

main p {
    font-size: 26px;
    font-family: 'Supreme', sans-serif;
}

h1, h2, h3 {
    font-family: 'Supreme', sans-serif;
}

nav {
    background-color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-family: 'Supreme', sans-serif;
}

nav li {
    margin: 15px 25px 15px 25px;
    padding: 0px;
    list-style-type: none;
    font-size: 25px;
    }

nav a {
    padding: 10px;
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
    margin: 0px;
}

body {
    margin: 0px;
}

header {
    background-color: wheat;
    display: flex;
    justify-content: center;
    font-family: 'Supreme', sans-serif;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0px 10px 0px;
    background-color: wheat;
    margin-top: 400px;
}

footer * {
    padding: 0px 50px 0px 0px;
    text-decoration: none;
    color: black;
    margin: 5px 25px 5px 25px;
}

footer a {
    border-right: solid 2px black;
}

h1 {
    text-align: center;
    background-color: wheat;
    justify-content: center;
    }

h3 {
    text-align: center;
    margin: 0px 0px 25px 0px;
}

p {
    text-align: center;
}

.pion {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pion p {
    margin-left: 200px;
}


.dame  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dame p {
    margin-left: 250x;
}