/* déclaration thèmes */

:root {
   --grey0: #fff;
   --grey1: #f5f5f5;
   --grey2: #e0e0e0;
   --grey3: #999;
   --grey4: #212121;
   --grey5: #181818;
   --grey6: #000;
   --blue0: #e2f1f9;
   --blue1: #031d7b;
   --brown0: #f5deb3;
   --brown1: #ac7d58;
   --yellow0: #ffeb41;
   --red0: #fd0002;
   --box-radius: 10px;
}

.space-blue {
   --bg: var(--blue0);
   --bg-button: var(--blue1);
   --bg-item: var(--blue1);
   --text: var(--grey6);
   --text-accent: var(--grey0);
   --accent: var(--yellow0);
}

.classic-brown {
   --bg: var(--brown0);
   --bg-button: var(--brown1);
   --bg-item: var(--brown1);
   --text: var(--grey6);
   --text-accent: var(--grey6);
   --accent: var(--yellow0);
}

/* import de la police Supreme */

@font-face {
   font-family: 'Supreme';
   src: url('https://cdn.fontshare.com/wf/SUHDN32QAMB5TXN2FDN4KBD2DDHYPMAW/HDTAGG7J7S6DBAS7WPC4KOT55GR5AHKC/MAWQNHJCFMDQROXVKLBWSTJXQH43DCCG.woff2')
         format('woff2'),
      url('https://cdn.fontshare.com/wf/SUHDN32QAMB5TXN2FDN4KBD2DDHYPMAW/HDTAGG7J7S6DBAS7WPC4KOT55GR5AHKC/MAWQNHJCFMDQROXVKLBWSTJXQH43DCCG.woff')
         format('woff'),
      url('https://cdn.fontshare.com/wf/SUHDN32QAMB5TXN2FDN4KBD2DDHYPMAW/HDTAGG7J7S6DBAS7WPC4KOT55GR5AHKC/MAWQNHJCFMDQROXVKLBWSTJXQH43DCCG.ttf')
         format('truetype');
   font-weight: 500;
   font-display: swap;
   font-style: normal;
}

@font-face {
   font-family: 'Supreme';
   src: url('https://cdn.fontshare.com/wf/H5XB5CS6BMBXDUYZYTWYXLQTKS26AZFM/M6WRQKQNLA2YFDRCRIRBKTWDSWKJC4ZW/D3MZ3NDLGELRW3OPOULQXNVYDIIEHLGG.woff2')
         format('woff2'),
      url('https://cdn.fontshare.com/wf/H5XB5CS6BMBXDUYZYTWYXLQTKS26AZFM/M6WRQKQNLA2YFDRCRIRBKTWDSWKJC4ZW/D3MZ3NDLGELRW3OPOULQXNVYDIIEHLGG.woff')
         format('woff'),
      url('https://cdn.fontshare.com/wf/H5XB5CS6BMBXDUYZYTWYXLQTKS26AZFM/M6WRQKQNLA2YFDRCRIRBKTWDSWKJC4ZW/D3MZ3NDLGELRW3OPOULQXNVYDIIEHLGG.ttf')
         format('truetype');
   font-weight: 700;
   font-display: swap;
   font-style: normal;
}

@font-face {
   font-family: 'Supreme';
   src: url('https://cdn.fontshare.com/wf/KJZ7ZEDMT6DF74D2F37PZKCUGX6HI3HF/IUKMITFCUNGYUD64YURFHBOVOLWINWUR/226TW4KEKKJPU52YZESJ3DOOFGH5P37I.woff2')
         format('woff2'),
      url('https://cdn.fontshare.com/wf/KJZ7ZEDMT6DF74D2F37PZKCUGX6HI3HF/IUKMITFCUNGYUD64YURFHBOVOLWINWUR/226TW4KEKKJPU52YZESJ3DOOFGH5P37I.woff')
         format('woff'),
      url('https://cdn.fontshare.com/wf/KJZ7ZEDMT6DF74D2F37PZKCUGX6HI3HF/IUKMITFCUNGYUD64YURFHBOVOLWINWUR/226TW4KEKKJPU52YZESJ3DOOFGH5P37I.ttf')
         format('truetype');
   font-weight: 700;
   font-display: swap;
   font-style: italic;
}

/* media query */

@media (max-width: 768px) {
   ul,
   div {
      flex-direction: column;
   }

   .presentation {
      margin-left: 0;
   }
}

/* main styles */

* {
   transition: all 0.3s ease-in-out;
}

html {
   height: 100%;
}

body {
   height: 100%;
   margin: 0px;
   font-family: 'Supreme', Helvetica, sans-serif;
}

main {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 0 25%;
   padding-bottom: 50px;
}

.presentation h1,
header h1 {
   font-size: 32px;
   font-family: 'Britannic Bold', Arial, sans-serif;
}

h1 {
   width: 100%;
   font-size: 24px;
   text-align: center;
   background-color: var(--bg);
   margin: 50px 0;
}

h2 {
   font-size: 28px;
}

h3 {
   text-align: center;
}

div {
   text-align: center;
}

img {
   width: 40%;
}

a,
button {
   text-decoration: none;
   color: var(--text-accent);
   background-color: var(--bg-item);
   padding: 10px;
   text-align: center;
   border: none;
}

a:hover,
button:hover {
   color: var(--bg-item);
   background: var(--accent);
}

p {
   font-size: 16px;
}

/* nav */

nav {
   background-color: var(--text);
   display: flex;
   justify-content: center;
   width: 100%;
   text-align: center;
}

nav ul {
   width: auto;
   display: flex;
   margin: 0px;
}

nav li {
   margin: 15px 25px 15px 25px;
   list-style-type: none;
   font-size: 14px;
}

nav a {
   text-decoration: none;
   background: none;
   color: white;
}

nav:last-child {
   background-color: var(--accent);
}

header {
   background-color: var(--bg);
   display: flex;
   justify-content: center;
   text-transform: capitalize;
}

/* footer */

footer {
   display: flex;
   justify-content: center;
   width: 100%;
   padding: 15px 0px 15px 0px;
   background-color: var(--bg-item);
}

footer * {
   color: var(--text-accent);
}

footer .auteur {
   padding: 0 30px 0 30px;
   border-right: solid 2px var(--text-accent);
   border-left: solid 2px var(--text-accent);
}

footer a {
   /* padding: ; */
   margin: 0 30px 0 30px;
   color: var(--text-accent);
}

/* telecharger */

.command {
   font-family: 'Courier New', Courier, monopace;
}

/* historique */

.images {
   display: flex;
   width: 50%;
   justify-content: space-between;
}

.images img {
   height: auto;
   margin-left: 12px;
}

.credits ul {
   list-style-type: none;
}

/* accueil */

.accueil {
   background-color: var(--bg);
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   padding: 10% 50px 10% 50px;
   margin: 0;
}

.presentation {
   margin: 0 0 0 100px;
}

.presentation h1 {
   font-size: 72px;
   margin: 0;
}

.presentation * {
   text-align: left;
}

/* règles */

.type-pions {
   width: 80%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.type-pions li {
   display: flex;
   align-items: center;
}

.type-pions img {
   max-width: 20%;
   margin-right: 10%;
}

/* contact */

.mail {
   width: 150px;
}

form {
   width: 80%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

label {
   width: 100%;
   text-align: left;
   margin-top: 10px;
   display: block;
}

input,
textarea {
   background-color: var(--bg);
}

input,
textarea {
   padding: 3px;
   border: none;
   width: 100%;
}

form button {
   margin-top: 20px;
}
